<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <div class="form-container">
      <div class="form-header">
        <span>Admin</span>
      </div>
      <div class="form-body">
        <%= render 'login_form' %>
      </div>
    </div>
  </div>
</div>